.button {
   border: 0px solid #ff6d50;
   background: #ff6d50;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff6d50), to(#ff6d50));
   background: -webkit-linear-gradient(top, #ff6d50, #ff6d50);
   background: -moz-linear-gradient(top, #ff6d50, #ff6d50);
   background: -ms-linear-gradient(top, #ff6d50, #ff6d50);
   background: -o-linear-gradient(top, #ff6d50, #ff6d50);
   background-image: -ms-linear-gradient(top, #ff6d50 0%, #ff6d50 100%);
   padding: 13px 26px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #edf5fa 0 1px 0;
   color: #f2f7fa;
   font-size: 21px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 0px solid #ff3247;
   text-shadow: #f2f7fa 0 1px 0;
   background: #ff3247;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff3247), to(#ff3247));
   background: -webkit-linear-gradient(top, #ff3247, #ff3247);
   background: -moz-linear-gradient(top, #ff3247, #ff3247);
   background: -ms-linear-gradient(top, #ff3247, #ff3247);
   background: -o-linear-gradient(top, #ff3247, #ff3247);
   background-image: -ms-linear-gradient(top, #ff3247 0%, #ff3247 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #edf2f5 0 1px 0;
   border: 0px solid #a31544;
   background: #a3154e;
   background: -webkit-gradient(linear, left top, left bottom, from(#a21544), to(#ff3247));
   background: -webkit-linear-gradient(top, #a21544, #a3154e);
   background: -moz-linear-gradient(top, #a21544, #a3154e);
   background: -ms-linear-gradient(top, #a21544, #a3154e);
   background: -o-linear-gradient(top, #a21544, #a3154e);
   background-image: -ms-linear-gradient(top, #a21544 0%, #a3154e 100%);
   color: #fff;
   }